<link rel="icon" type="image/png" href="/images/full_logo_transparent.png">

<!-- <title>Nurture Portal Dashboard</title> -->

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate') />
<meta(http-equiv='Pragma', content='no-cache') />
<meta(http-equiv='Expires', content='-1') />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />